/* Add your custom styles here */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .main {
    background-color: black;
    color: white;
    padding: 5px;
  }
  
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .right a {
    margin-left: 10px;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .right a:hover {
    color: red;
  }
  /* CSS code */
  .back {
    display: flex;
    flex-wrap: wrap;
  }
  
  .back img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .back img:hover {
    transform: scale(1.1);
  }  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #2c3e50;
    font-family: sans-serif;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: #191919;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #39dc79;
  }
   