/* Add your custom styles here */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .main {
    background-color: black;
    color: white;
    padding: 5px;
  }
  
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .right a {
    margin-left: 10px;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .right a:hover {
    color: red;
  }
  /* CSS code */
  .back {
    display: flex;
    flex-wrap: wrap;
  }
  
  .back img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .back img:hover {
    transform: scale(1.1);
  }  
  